.footer {
  // background-color: transparentize($color-orange, 0.85);
  background-color: lighten($color-orange, 8%);
  padding-top: 60px;
  position: relative;
  @include media-breakpoint-up(md) {
    padding-top: 80px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 100px;
  }
  &::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background: url('../images/footer-pattern.png');
    background-repeat: no-repeat;
    width: 70%;
    height: 500px;
    opacity: 0.3;
  }
  &--container {
    @include container;
    position: relative;
  }
  &__list {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
    }
    @include media-breakpoint-up(xl) {
      margin: 0 -20px;
    }

    &__item {
      padding-bottom: 60px;
      @include media-breakpoint-up(md) {
        padding: 0 15px 80px;
        width: 33.33%;
      }
      @include media-breakpoint-up(xl) {
        width: 23%;
        padding: 0 20px 100px;
      }

      &--about {
        @include media-breakpoint-up(md) {
          width: 100%;
        }
        @include media-breakpoint-up(xl) {
          width: 24%;
        }
      }

      &--contact {
        @include media-breakpoint-up(xl) {
          width: 30%;
        }
      }

      &--logo {
        width: 100%;
        max-width: 200px;
        padding-bottom: 20px;
      }
      &--text {
        color: $color-white;
        line-height: 1.5;
      }
      &--title {
        color: $color-white;
        text-transform: capitalize;
        padding-bottom: 10px;
        font-size: 20px;
      }
    }
  }
  &__menulist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &--link {
      color: $color-white;
      font-weight: $fw-medium;
      padding-top: 5px;
      &:not(:last-child) {
        padding-bottom: 5px;
      }
    }
  }
  &__contact {
    &--title {
      color: $color-white;
      font-size: 16px;
      padding-bottom: 5px;
    }
    &--details {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 12px;
      line-height: 1.4;
      .icon {
        margin-right: 14px;
        .iconSvg {
          height: 16px;
          width: 16px;
          fill: $color-white;
        }
      }
      .text {
        color: $color-white;
        width: calc(100% - 30px);
        .break {
          display: block;
        }
      }
    }
    &__social {
      display: flex;
      padding-top: 8px;
      &--link {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 1px solid $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        &:hover {
          outline: 1px solid $color-white;
          outline-offset: 2px;
          transition: $time-slow;
        }
        .iconSvg {
          fill: $color-white;
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}
