@mixin container {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  padding: 0 20px;
  @include media-breakpoint-up(sm) {
    max-width: 540px;
  }
  @include media-breakpoint-up(md) {
    max-width: 740px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 1040px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 1200px;
  }
}
